.Header-First {
    background-color: #FFFEFC;
    display : flex;
}

.Header-First-Logo{
    width : 300px;
}

.Header-First-SearchBar{
    width : 400px;
}

.Header-First-Menu{
    width : 324px;
    display : flex;
}